:root{
    --bg: #081b2b;
    --panel: #0e283e;
    --texto: #e6f4ff;
    --muted: #9fb3c8;
    --primario: #25b4c3;
    --borde:#143148;
    --ring:#6cdde0;
    --input:#0f314d;
    --sombra: rgba(0,0,0,.35);
}

* {
    box-sizing: border-box;
}

html,body{
    height:100%;
}

body{
    margin:0; font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Arial;
    background: var(--bg); color: var(--texto);
    display:grid; place-items:center;
    padding: 24px;
}

.card{
    width:100%; max-width: 440px;
    background: var(--panel);
    border:1px solid var(--borde);
    border-radius:14px;
    padding:28px;
    box-shadow: 0 10px 26px var(--sombra);
}

.brand{
    display:flex; align-items:center; gap:12px; margin-bottom:8px;
    justify-content:center;
}

.logo {
  width: 75%;
  object-position: 40%;
}

.contenedor-logo {
    text-align: center;
}

h2 { 
    margin:.25rem 0 1.2rem;
    text-align:center;
    font-size:1.25rem;
}

form {
    display:grid;
    gap:14px;
}

label {
    font-size:.92rem;
    color:var(--muted);
    display: block;
    margin-bottom: 8px;
}

.input{
    display: flex; align-items:center; gap:10px;
    background: var(--input);
    border: 1px solid var(--borde);
    border-radius: 10px; padding: 12px 14px;
    margin-bottom: 8;
}

.input:focus-within{
    border-color: var(--ring);
    box-shadow: 0 0 0 4px rgba(108,221,224,.25);
}
.input input{
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: var(--texto);
    font-size:1rem;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.btn{
    width:100%; border:0; border-radius:10px; padding:12px 14px;
    color:#062026; font-weight:800; letter-spacing:.3px;
    transition: transform .06s ease, filter .2s ease;
    margin-top: 16px;
}

.link{
    background:transparent; border:0; color:#9ee7ff; cursor:pointer;
    font-size:.95rem; text-decoration:underline; padding:0;
}

.helper{
    display:flex; align-items:center; gap:8px; color:var(--muted); font-size:.92rem;
}

.helper input {
    accent-color: var(--primario);
}

.legal{
    margin-top:6px; font-size:.82rem; color:var(--muted); text-align:center; line-height:1.3;
}
